<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954590642911-nfckgg81bie6euf8jpomjog7amdthhtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954590642911-nfckgg81bie6euf8jpomjog7amdthhtj</string>
	<key>API_KEY</key>
	<string>AIzaSyCLR_zGV8Mb8YCHrY4s7dBtPG3soGiVUeY</string>
	<key>GCM_SENDER_ID</key>
	<string>954590642911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hongtuan.SecondHandMarket</string>
	<key>PROJECT_ID</key>
	<string>appecommerce-dbce4</string>
	<key>STORAGE_BUCKET</key>
	<string>appecommerce-dbce4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954590642911:ios:98ffb5fca882337460df6a</string>
</dict>
</plist>